/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, sass/main.scss */
body {
  font-size: 0.42667rem;
}

/* line 9, sass/main.scss */
.nav-wrap {
  position: relative;
  height: 46px;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 15, sass/main.scss */
.nav-wrap .nav-stickytabs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
  */
}
/* line 34, sass/main.scss */
.nav-wrap .nav-stickytabs .scroll-navbox {
  width: auto;
  padding-right: 54px;
}
/* line 39, sass/main.scss */
.nav-wrap .nav-stickytabs .navbox {
  display: inline-block;
  white-space: nowrap;
  background-color: #fff;
  width: 100%;
  font-size: 0;
  vertical-align: top;
}
/* line 47, sass/main.scss */
.nav-wrap .nav-stickytabs .navbox .tab {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: .3rem;
  color: #333;
  position: relative;
  padding: 0 20px;
}
/* line 63, sass/main.scss */
.nav-wrap .nav-stickytabs .navbox .tab.curr:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 4px;
  font-size: 0;
  margin-left: -25px;
  background-color: #ff0000;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px;
  border-radius: 15px 15px 0 0;
}
/* line 78, sass/main.scss */
.nav-wrap .nav-stickytabs .select-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 54px;
  height: 45px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABCAYAAACc0f2yAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAxSURBVHjaYvz///8qBgYGdihmQ8OsWDALFLMyMDAwI2F84D8DAwMjAw0BAAAA//8DAG8xBP72M7+9AAAAAElFTkSuQmCC") repeat-y left top;
  background-size: 54px 45px;
}
/* line 94, sass/main.scss */
.nav-wrap .nav-stickytabs .select-btn .ic {
  position: absolute;
  top: 15px;
  left: 26px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  width: 10px;
  height: 10px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
