<!doctype html>
<html lang="en" ng-app="ngApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="./bower_components/angularjs/angular.min.js"></script>
    <script>

        /**
         * ng-app   初使化指令
         */

        var app = angular.module("ngApp", []);

        app.controller("Aaa", function($scope, $rootScope, $timeout){

            $scope.name = "Lijie";

            $rootScope.age = 22;

            $timeout(function(){
                $scope.name  = "aaaa";
            },2000);

            //也可以使用这种方法
            /*
            setTimeout(function(){
                $scope.$apply(function(){
                    $scope.name = "setTimeout";
                    console.log($scope.name);
                });
            }, 3000);
            */

            $scope.show = function(){
                alert(1);
            }
        });

        app.controller("Bbb", function($scope){
            $scope.name = "xxxx";
            $scope.show = function(){
                console.log(this);
            }
        });

    </script>
</head>
<body>

    Your Name: <input type="text" ng-model="yourname" placeholder="World"/>

    <hr/>

    Hello {{ yourname  || 'world'}}

    <div ng-controller="Aaa" ng-click="show()">
        {{name}}
    </div>

    {{age}}

    <div ng-controller="Bbb" ng-click="show()">
        {{name}}
    </div>

</body>
</html>