@import "compass/reset";
@import "compass/css3";
@import "../common/tools";

body {
    font-size: px2rem(20);
}

.nav-wrap {
    position: relative;
    height: 46px;
    z-index: 1;
    @include user-select(none);

    .nav-stickytabs {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 46px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;

        @include box-sizing(border-box);

        /*
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: height 0.25s ease-in-out;
        transition: height 0.25s ease-in-out;
        */

        .scroll-navbox {
            width: auto;
            padding-right: 54px;
        }

        .navbox {
            display: inline-block;
            white-space: nowrap;
            background-color: #fff;
            width: 100%;
            font-size: 0;
            vertical-align: top;

            .tab {
                display: inline-block;
                vertical-align: top;
                border: 1px solid #ccc;
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: .3rem;
                color: #333;
                padding: 0 20px;

                //white-space: nowrap;

                position: relative;


                &.curr:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 50px;
                    height: 4px;
                    font-size: 0;
                    margin-left: -25px;
                    background-color: #ff0000;
                    @include border-radius(15px 15px 0 0 );
                }
            }
        }

        .select-btn {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            width: 54px;
            height: 45px;

            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAABCAYAAACc0f2yAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAxSURBVHjaYvz///8qBgYGdihmQ8OsWDALFLMyMDAwI2F84D8DAwMjAw0BAAAA//8DAG8xBP72M7+9AAAAAElFTkSuQmCC") repeat-y left top;
            background-size: 54px 45px;

            //-webkit-backface-visibility: hidden;
            //backface-visibility: hidden;
            //-webkit-transform: tranzlateZ(0);
            //transform: tranzlateZ(0);

            .ic {
                position: absolute;
                top: 15px;
                left: 26px;
                -webkit-transition: -webkit-transform 0.3s ease;
                transition: transform 0.3s ease;
                width: 10px;
                height: 10px;
                border-top: 1px solid #999;
                border-left: 1px solid #999;
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                transform: rotate(225deg);
            }
        }
    }
}